<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

	<meta charset="utf-8">
	<title>LIGHT</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<style>
		.bd-placeholder-img {
			font-size: 1.125rem;
			text-anchor: middle;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}

		@media (min-width: 768px) {
			.bd-placeholder-img-lg {
				font-size: 3.5rem;
			}

		}

		.img-fluid {
			max-width: 100%;
			height: auto;
		}
	</style>

	<!-- Custom styles for this template -->

</head>

<body>

	<nav class="navbar navbar-expand-md sticky-top navbar-dark" style="background-color: #e6bae7;">
		<div>


			<div class="collapse navbar-collapse" id="navbarsExampleDefault"></div>
			<ul class="navbar-nav  mr-auto">
				<li class="nav-item">
					<a class="navbar navbar-brand" href="/welcome"><b>LIGHT</b></a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="/welcome">O nama</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/ponuda">Ponuda</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/registration">Registriraj se</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/login">Zakaži termin</a>
				</li>
			</ul>
		</div>

	</nav>
<body>

	<main role="main" class="container py-5">
		<div class="row">
			<div class="col-md-6 col-md-offset-6">
				<h3>EMPLOYEES</h3>
				<hr>
				
				<table class="table">
					<thead>
					<tr>
						<th scope="col">ID</th>
						<th scope="col">Name</th>
					</tr>
					</thead>
					<tbody>
					<tr th:if="${employees != null}" th:each="employee : ${employees}">
						<td th:text="${employee.employee_id}"></td>
						<td th:text="${employee.name}"></td>
					</tr>
				</table>
			</div>
		</div>
		<form th:object="${employeeToAdd}" th:action="@{/employee/addEmployee}" method="post">
			<h3>CREATE NEW EMPLOYEE</h3>
			<hr>
			<div class="form-group" >
				<input class="form-control" th:field="*{name}" placeholder="name"/>
			</div>
			<select  name="selectedOffer" class="form-control mr-sm-4" style=" color: #080808; border-color:#e794e9; background-color: #ead5eb">
				<option th:each="ofy : ${offers}" th:value="${ofy.offer_id}" th:text="${ofy.nameOfOffer}"></option>
			</select>
			<br>
			<button class="btn btn-dark"  style="color: #080808; border-color:#e794e9; background-color: #ead5eb" type="submit">CREATE</button>
		</form>
		<br>
		<h3>UPDATE EMPLOYEE</h3>
		<hr>
		<form  th:action="@{/employee/updateEmployee/}" method="post">
			<select name="id" class="form-control mr-sm-4" style=" color: #080808; border-color:#e794e9; background-color: #ead5eb">
					<option th:if="${employees != null}"  th:each="employee : ${employees}" th:value="${employee.employee_id}" th:text="${employee.name}"> </option>
			</select>
			<button class="btn" type="submit" >ODABERI</button>
		</form>

		
		<form  th:if="${updateEmployee != null}" th:object="${updateEmployee}" th:action="@{/employee/updateEmployee}" method="post">
			<h1>UPDATE EMPLOYEE</h1>
			<div class="form-group" >
				<input class="form-control" th:field="*{name}"  />
				<input class="form-control" th:field="*{employee_id}" hidden/>
			</div>
			<select  name="offerToDelete">
				<option value="">Delete offer</option>
				<option th:each="of : ${offersEmployeeYes}" th:value="${of.offer_id}" th:text="${of.nameOfOffer}" ></option>>
			</select>
			<select  name="offerToAdd">
				<option value="">Add offer</option>
				<option  th:each="ofy : ${offersEmployeeNot}" th:value="${ofy.offer_id}" th:text="${ofy.nameOfOffer}"></option>
			</select>
			<button class="btn btn-outline-primary" type="submit">UPDATE</button>
		</form>
	
      
    </main>

 
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="js/jquery-slim.min.js"><\/script>')</script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>


</body>

<footer style="background-color: #ead5eb;" >
	<div class="container p-4">
		<div class="row">
			<div class="col-lg-5 col-md-6 mb-4">
				<h5 class="mb-1" style="letter-spacing: 3px; color: #818963;">Radno vrijeme:</h5>
				<table class="table" style="color: #4f4f4f; border-color: #666666;">
					<tbody>
						<tr>
							<td>Kontakt broj:</td>
							<td>099 776 5643</td>
						</tr>
						<tr>
							<td>E-mail:</td>
							<td>light.bs@gmail.com</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-lg-3 col-md-6 mb-4">
				<h5 class="mb-3" style="letter-spacing: 2px; color: #818963;">Vidimo se :)</h5>

			</div>
			<div class="col-lg-3 col-md-6 mb-4">
				<h5 class="mb-1" style="letter-spacing: 3px; color: #818963;">Radno vrijeme:</h5>
				<table class="table" style="color: #4f4f4f; border-color: #666666;">
					<tbody>
						<tr>
							<td>Pon - Pet</td>
							<td>09:00 - 17:00</td>
						</tr>
						<tr>
							<td>Vikend</td>
							<td>Zatvoreno</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="text-center p-3" style="background-color: #e6bae7;">
		© 2022 Copyright:
		<a class="text-dark">LIGHT beauty studio</a>
	</div>

</footer>


</html>