<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	
	<meta charset="utf-8">
    <title>LIGHT</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>    <style>
		.bd-placeholder-img {
			font-size: 1.125rem;
			text-anchor: middle;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}

		@media (min-width: 768px) {
			.bd-placeholder-img-lg {
				font-size: 3.5rem;
			}

		}

		.img-fluid {
			max-width: 100%;
			height: auto;
		}
	</style>

	<!-- Custom styles for this template -->
    
</head>

<body>

	<nav class="navbar navbar-expand-md navbar-dark" style="background-color: #e6bae7;">
		<div >
				<a class="navbar navbar-brand" href="/">LIGHT</a>
            </button>
			
            <div class="collapse navbar-collapse" id="navbarsExampleDefault"></div>
                <ul class="navbar-nav  mr-auto">
                    <li class="nav-item active"><a class="nav-link" href="/about">O nama</a></li>
                    <li class="nav-item">
                        <a class="nav-link" href="/ponuda">Ponuda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/registration">Registriraj se</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Zakaži termin</a>
                    </li>
                </ul>
            </div>
		</div>
	</div>
	</nav>

	<main role="main">

		<div class="container py-5">
			<div class="jumbotron text-dark jumbotron-image shadow img-fluid"
				style="background-image: url('/image/pozadina.jpg');" >

				<h1 class="mb-4" style="font-family: monospace">
					<b>LIGHT BEAUTY STUDIO 🖤</b>
				</h1>
				<h4 class="mb-4" style="font-family: monospace">
					<b><u>Stavite sebe na prvo mjesto!</u></b>
				</h4>
			</div>
		</div>


		<!-- Main jumbotron for a primary marketing message or call to action -->
		<div class="jumbotron" style="background-color: #ead5eb";>
			<div class="container">
				<h1 class="display-3">Dobrodošli!</h1>
				<p>U našem Beauty Centru pružamo najučinkovitije i najnaprednije tretmane za njegu kože, lica i tijela. Ovdje ćete naći najvažnije informacije o tretmanima koje imamo u ponudi kao i njihove cijene. Putem ove stranice možete pogledati slobodne termine i rezervirati svoje mjesto za jedan od naših tretmana.</p>
				<h5> Veselimo se Vašem dolasku!</h5>
			</div>
		</div>

		<div class="container">
			<!-- Example row of columns -->
			<div class="row">
				<div class="col-md-4">
					<h2>O nama</h2>
					<p>LIGHT beauty studio je studio s dugogodišnjom tradicijom i iskustvom u pružanju usluga njege lica i tijela. U ugodnom i moderno uređenom ambijentu, naše stručno osoblje, koje se neprekidno usavršava, svakom klijentu pruža individualan pristup i program prilagođen njegovim željama, potrebama, navikama i mogućnostima. </p>
					
				</div>
				<div class="col-md-4">
					<h2>Kvaliteta</h2>
					<p>U našem salonu koristimo samo najkvalitetnije preparate svjetskih brendova te najsuvremenije aparate za njegu lica i tijela. Za njegu Vašeg tijela koristimo isključivo najbolje brendove :Juliette Armand lice i tijelo, OPI za njegu Vaših ruku i stopala, te Jana nails i Reforma trajni lakovi.</p>
					
				</div>
				<div class="col-md-4">
					<h2>Najtraženije usluge</h2>
					<p>Otkrivamo Vam čari odličnih noktiju i još boljih obrva. To je manji dio onoga u čemu smo najbolji, onoga po čemu je naš salon prepoznatljiv. Prepustite se u ruke naših profesionalaca i uvjerite se sami. Od izuzetne nam je važnosti da je svaki naš klijent zadovoljan, da svaka osoba koja uđe u salon osjeti dobrodošlicu i toplinu.</p>
					
				</div>
			</div>

			<hr>
		</div>


	</main>

    <script src="/js/jquery-3.3.1.slim.min.js"></script>
	<script>window.jQuery || document.write('<script src="(js/bootstrap.min.js"><\/script>')</script>
	<script src="/js/bootstrap.bundle.min.js"></script>


</body>
<footer style="background-color: #deded5;">
    <div class="container p-4">
      <div class="row">
        <div class="col-lg-6 col-md-6 mb-4">
            <h5 class="mb-1" style="letter-spacing: 3px; color: #818963;">Informacije:</h5>
            <table class="table" style="color: #4f4f4f; border-color: #666;">
                <tbody>
                    <tr>
                        <td>Kontakt broj:</td>
                        <td>099 776 5643</td>
                    </tr>
                    <tr>
                        <td>E-mail:</td>
                        <td>light.bs@gmail.com</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
            <h5 class="mb-3" style="letter-spacing: 2px; color: #818963;">Vidimo se :)</h5>

        </div>
        <div class="col-lg-3 col-md-6 mb-4">
            <h5 class="mb-1" style="letter-spacing: 3px; color: #818963;">Radno vrijeme:</h5>
            <table class="table" style="color: #4f4f4f; border-color: #666;">
                <tbody>
                    <tr>
                        <td>Pon - Pet</td>
                        <td>09:00 - 17:00</td>
                    </tr>
                    <tr>
                        <td>Vikend</td>
                        <td>Zatvoreno</td>
                    </tr>
                </tbody>
            </table>
        </div>
      </div>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>

  </footer>


</html>