
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	
	<meta charset="utf-8">
    <title>LIGHT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link th:href="@{/css/starter-template.css}" rel="stylesheet">
    <link th:href="@{/css/jumbotron.css}" rel="stylesheet">
    <style>
		.bd-placeholder-img {
			font-size: 1.125rem;
			text-anchor: middle;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}

		@media (min-width: 768px) {
			.bd-placeholder-img-lg {
				font-size: 3.5rem;
			}

		}

		.img-fluid {
			max-width: 100%;
			height: auto;
		}
	</style>

	<!-- Custom styles for this template -->
    
</head>

<body>

	<nav class="navbar navbar-expand-md navbar-dark fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">LIGHT</a>

			</div>
            <div class="collapse navbar-collapse" id="navbarsExampleDefault"></div>
                <ul class="nav navbar-nav  mr-auto">
                    <li class="nav-item active"><a href="#">O nama</a></li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Ponuda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/registration">Registriraj se</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Zakaži termin</a>
                    </li>
                </ul>
            </div>
		</div>
	</nav>

	<main role="main" class="container py-5">

		<ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Cras justo odio
              <h4><span class="badge badge-primary badge-secondary">Cijena: 14 kn</span></h4>
            </li>
            <li class="list-group-item list-group-item-light d-flex justify-content-between align-items-center">
              Dapibus ac facilisis in
              <span class="badge badge-primary badge-pill">2</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Morbi leo risus
              <span class="badge badge-primary badge-pill">1</span>
            </li>
          </ul>


		
	</main>




</body>
<footer style="background-color: #deded5;">
    <div class="container p-4">
      <div class="row">
        <div class="col-lg-6 col-md-6 mb-4">
            <h5 class="mb-1" style="letter-spacing: 3px; color: #818963;">Informacije:</h5>
            <table class="table" style="color: #4f4f4f; border-color: #666;">
                <tbody>
                    <tr>
                        <td>Kontakt broj:</td>
                        <td>099 776 5643</td>
                    </tr>
                    <tr>
                        <td>E-mail:</td>
                        <td>light.bs@gmail.com</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
            <h5 class="mb-3" style="letter-spacing: 2px; color: #818963;">Vidimo se :)</h5>

        </div>
        <div class="col-lg-3 col-md-6 mb-4">
            <h5 class="mb-1" style="letter-spacing: 3px; color: #818963;">Radno vrijeme:</h5>
            <table class="table" style="color: #4f4f4f; border-color: #666;">
                <tbody>
                    <tr>
                        <td>Pon - Pet</td>
                        <td>09:00 - 17:00</td>
                    </tr>
                    <tr>
                        <td>Vikend</td>
                        <td>Zatvoreno</td>
                    </tr>
                </tbody>
            </table>
        </div>
      </div>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>

  </footer>


</html>