<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

	<meta charset="utf-8">
	<title>LIGHT</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<style>
		.bd-placeholder-img {
			font-size: 1.125rem;
			text-anchor: middle;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}

		@media (min-width: 768px) {
			.bd-placeholder-img-lg {
				font-size: 3.5rem;
			}

		}

		.img-fluid {
			max-width: 100%;
			height: auto;
		}
	</style>

	<!-- Custom styles for this template -->

</head>

<body>

	<nav class="navbar navbar-expand-md sticky-top navbar-dark" style="background-color: #e6bae7;">
		<div>
			<div class="collapse navbar-collapse" id="navbarsExampleDefault"></div>
			<ul class="navbar-nav  mr-auto">
				<li class="nav-item">
					<a class="navbar navbar-brand" href="/welcome"><b>LIGHT</b></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/welcome">O nama</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/ponuda">Ponuda</a>
				</li>
				<li class="nav-item" sec:authorize="!isAuthenticated()">
					<a class="nav-link" href="/registration">Registriraj se</a>
				</li>
				<li class="nav-item" sec:authorize="!isAuthenticated()">
					<a class="nav-link" href="/login">Zakaži termin</a>
				</li>
				<li class="nav-item" sec:authorize="isAuthenticated() && hasRole('USER')">
					<a class="nav-link active" th:href="@{/reserve}">Rezerviraj termin</a>
				</li>

				<li class="nav-item" sec:authorize="isAuthenticated() && hasRole('USER')">
					<a class="nav-link" th:href="@{/getUserReservations}">Moje rezervacije</a>
				</li>
				<li class="nav-item" sec:authorize="isAuthenticated() && hasRole('ADMIN')">
					<a class="nav-link" th:href="@{/admin/}">Početna</a>
				</li>
				<li class="nav-item" sec:authorize="isAuthenticated() && hasRole('ADMIN')">
					<a class="nav-link" th:href="@{/user/config}">Korisnici</a>
				</li>
				<li class="nav-item" sec:authorize="isAuthenticated() && hasRole('ADMIN')">
					<a class="nav-link" th:href="@{/employee/config}">Zaposlenici</a>
				</li>
				<li class="nav-item" sec:authorize="isAuthenticated() && hasRole('ADMIN')">
					<a class="nav-link" th:href="@{/offer/config}">Ponude</a>
				</li>
				<li class="nav-item" sec:authorize="isAuthenticated() && hasRole('ADMIN')">
					<a class="nav-link" th:href="@{/reservation/config}">Rezervacije</a>
				</li>
				<li class="nav-item" sec:authorize="isAuthenticated() && hasRole('ADMIN')">
					<a class="nav-link" th:href="@{/role/config}">Role</a>
				</li>
				<li class="nav-item" sec:authorize="isAuthenticated()">
					<a class="nav-link" th:href="@{/logout}">Odjava</a>
				</li>



			</ul>
		</div>

	</nav>
	<!-- Custom styles for this template -->



	<!--formden.js communicates with FormDen server to validate fields and submit via AJAX -->
	<script type="text/javascript" src="https://formden.com/static/cdn/formden.js"></script>

	<!-- Special version of Bootstrap that is isolated to content wrapped in .bootstrap-iso -->
	<link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />

	<!--Font Awesome (added because you use icons in your prepend/append)-->
	<link rel="stylesheet" href="https://formden.com/static/cdn/font-awesome/4.4.0/css/font-awesome.min.css" />

	<!-- Inline CSS based on choices in "Settings" tab -->
	<style>
		.bootstrap-iso .formden_header h2,
		.bootstrap-iso .formden_header p,
		.bootstrap-iso form {
			font-family: Arial, Helvetica, sans-serif;
			color: black
		}

		.bootstrap-iso form button,
		.bootstrap-iso form button:hover {
			color: white !important;
		}

		.asteriskField {
			color: red;
		}
	</style>

	<main role="main" style="margin-top: 200px;">

		<div class="container py-5">

			<div class="bootstrap-iso">

				<div class="container-fluid">

					<div class="row">
						<!-- KALENDAR -->

						<div class="col-md-6 col-sm-6 col-xs-12">
							<form th:action="@{'/getFreeTime/'}" method="post">
								<div class="form-group ">
									<label class="control-label col-sm-2 requiredField" for="date">
										Date
										<span class="asteriskField">
											*
										</span>
									</label>
									<div class="col-sm-10">
										<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-calendar">
												</i>
											</div>
											<input class="form-control"
												style=" color: #080808; border-color:#e794e9; background-color: #ead5eb"
												id="date" name="date" placeholder="MM/DD/YYYY" type="text" />
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-10 col-sm-offset-2">
										<input name="_honey" style="display:none" type="text" />
									</div>
								</div>
						</div>
						<select name="employeeId" class="form-control mr-sm-4"
							style=" color: #080808; border-color:#e794e9; background-color: #ead5eb">
							<option th:each="employee : ${employees}" th:value="${employee.employee_id}"
								th:text="${employee.name}"> </option>
						</select>
						<br>
						<button class="btn btn-dark"
							style=" color: #080808; border-color:#e794e9; background-color: #ead5eb"
							type="submit">ODABERI</button>
						</form>


						<div class="container py-5">

							<form th:if="${reservation != null}" th:object="${reservation}"
								th:action="@{/saveReservation}" class="form-horizontal" method="post">
								<input th:value="${reservation.date}" type="text" name="dateReservation"/>
								<select class="form-select p-2"  style=" color: #080808; border-color:#e794e9;
								background-color: #ead5eb" name="choosenTime">
									
									<option th:each="time : ${freeTime}" class="btn" type="submit" th:text="${time}"
										th:value="${time}" ></option>
								</select>
								<select class="form-select container p-3" name="choosenOffer" style=" color: #080808; border-color:#e794e9;
								background-color: #ead5eb">
									<option th:each="offer : ${offers}" class="btn" type="submit"
										th:text="${offer.nameOfOffer}" th:value="${offer.offer_id}"
										></option>
								</select>
								
								<label for="phoneNumber" class="control-label" > <br> Broj mobitela:</label>
								<input id="phoneNumber" class="form-control" style=" color: #080808; border-color:#e794e9;
								 background-color: #ead5eb" th:field="*{phoneNumber}" />
								<input id="employeeid" class="form-control" th:field="*{employeeId}" hidden />
								<input id="date" class="form-control" th:field="*{date}" hidden />

								<button class="btn btn-dark" style=" color: #080808; border-color:#e794e9; background-color: #ead5eb">
									PODNESI
								</button>
							</form>
						</div>

					</div>
				</div>
			</div>
		</div>
	</main>

	<!-- Extra JavaScript/CSS added manually in "Settings" tab -->
	<!-- Include jQuery -->
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

	<!-- Include Date Range Picker -->
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />

	<script>
		$(document).ready(function () {
			var date_input = $('input[name="date"]'); //our date input has the name "date"
			var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : "body";
			date_input.datepicker({
				format: 'mm/dd/yyyy',
				container: container,
				todayHighlight: true,
				autoclose: true,
			})
		})
	</script>
	</div>
	</main>
</body>

<footer style="background-color:#f0ddf1;">
	<div class="container p-4">
		<div class="row">
			<div class="col-lg-5 col-md-6 mb-4">
				<h5 class="mb-1" style="letter-spacing: 3px; color: #818963;">Informacije:</h5>
				<table class="table" style="color: #4f4f4f; border-color: #666666;">
					<tbody>
						<tr>
							<td>Kontakt broj:</td>
							<td>099 776 5643</td>
						</tr>
						<tr>
							<td>E-mail:</td>
							<td>light.bs@gmail.com</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-lg-3 col-md-6 mb-4">
				<h5 class="mb-3" style="letter-spacing: 2px; color: #818963;">Vidimo se :)</h5>

			</div>
			<div class="col-lg-3 col-md-6 mb-4">
				<h5 class="mb-1" style="letter-spacing: 3px; color: #818963;">Radno vrijeme:</h5>
				<table class="table" style="color: #4f4f4f; border-color: #666666;">
					<tbody>
						<tr>
							<td>Pon - Pet</td>
							<td>09:00 - 17:00</td>
						</tr>
						<tr>
							<td>Vikend</td>
							<td>Zatvoreno</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="text-center p-3" style="background-color:#e6bae7">
		© 2022 Copyright:
		<a class="text-dark" href="">LIGHT beauty centar</a>
	</div>

</footer>


</html>