<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	
	<meta charset="utf-8">
    <title>LIGHT</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>    <style>
		.bd-placeholder-img {
			font-size: 1.125rem;
			text-anchor: middle;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}

		@media (min-width: 768px) {
			.bd-placeholder-img-lg {
				font-size: 3.5rem;
			}

		}

		.img-fluid {
			max-width: 100%;
			height: auto;
		}
	</style>

	<!-- Custom styles for this template -->
    
</head>

<body>

	<nav class="navbar navbar-expand-md navbar-dark" style="background-color: #e6bae7;">
		<div >
				<a class="navbar navbar-brand" href="/">LIGHT</a>
            </button>
			
            <div class="collapse navbar-collapse" id="navbarsExampleDefault"></div>
                <ul class="navbar-nav  mr-auto">
                    <li class="nav-item active"><a class="nav-link" href="/about">O nama</a></li>
                    <li class="nav-item">
                        <a class="nav-link" href="/ponuda">Ponuda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/registration">Registriraj se</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Zakaži termin</a>
                    </li>
                </ul>
            </div>
		</div>
	</div>
	</nav>

    <main role="main" class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<h1>USERS</h1>
				<hr>
				<hr>
				<table class="table">
					<thead>
					<tr>
						<th scope="col">ID</th>
						<th scope="col">First name</th>
						<th scope="col">Last name</th>
						<th scope="col">Email</th>
						<th scope="col">Role</th>
						<th scope="col">Action</th>
					</tr>
					</thead>
					<tbody>
					<tr th:if="${users != null}" th:each="user : ${users}">
						<td th:text="${user.user_id}"></td>
						<td th:text="${user.firstName}"></td>
						<td th:text="${user.lastName}"></td>
						<td th:text="${user.email}"></td>
						<td th:text="${user.getRole().name}"></td>
						<td>
							<form th:action="@{'/user/deleteUser/'+${user.user_id}}" method="get">
								<button class="btn btn-outline-primary" type="submit">DELETE</button>
							</form>

						</td>
					</tr>
				</table>
			</div>
		</div>
		<form th:object="${userToAdd}" th:action="@{/user/addUser}" method="post">
			<h1>CREATE NEW USER</h1>
			<div class="form-group" >
				<input class="form-control" th:field="*{firstName}" placeholder="First Name"/>
				<input class="form-control" th:field="*{lastName}" placeholder="Last Name"/>
				<input class="form-control" th:field="*{email}" placeholder="Email" />
				<input class="form-control" th:field="*{password}" placeholder="Pasword" />
			</div>
				<select  name="selectedRole">
					<option th:each="role : ${roles}" th:value="${role.role_id}" th:text="${role.name}"></option>
				</select>
			<button class="btn btn-outline-primary" type="submit">CREATE</button>
			
		</form>

		<h1>UPDATE USER</h1>
		<div class="dropdown">
			<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			  Dropdown button
			</button>
			<div class="dropdown-menu" aria-labelledby="dropdownMenuButton" >
				<form th:each="user : ${users}" th:action="@{'/user/updateUser/'+ ${user.email}}" method="get">
					<button class="btn" type="submit" 
					 th:text="${user.email}"></button>
				</form>
			</div>
		  </div>
		
		<form  th:if="${updateUser != null}" th:object="${updateUser}" th:action="@{/user/updateUser}" method="post">
			<h1>UPDATE USER</h1>
			<div class="form-group" >
				<label for="roleName" class="control-label">User name</label> 
				<input class="form-control" th:field="*{firstName}" />
				<input class="form-control" th:field="*{lastName}" />
				<input class="form-control" th:field="*{email}" />
				<p>CURRENT ROLE - [[${updateUser.getRole().getName()}]]</p>
				<select  name="roleToUpdate">
					<option th:each="role : ${roles}" th:value="${role.role_id}" th:text="${role.name}"></option>
				</select>
			</div>
			<button class="btn btn-outline-primary" type="submit">UPDATE</button>
		</form>
	
      
    </main><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="js/jquery-slim.min.js"><\/script>')</script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body><footer style="background-color: #deded5;">
    <div class="container p-4">
      <div class="row">
        <div class="col-lg-6 col-md-6 mb-4">
            <h5 class="mb-1" style="letter-spacing: 3px; color: #818963;">Informacije:</h5>
            <table class="table" style="color: #4f4f4f; border-color: #666;">
                <tbody>
                    <tr>
                        <td>Kontakt broj:</td>
                        <td>099 776 5643</td>
                    </tr>
                    <tr>
                        <td>E-mail:</td>
                        <td>light.bs@gmail.com</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
            <h5 class="mb-3" style="letter-spacing: 2px; color: #818963;">Vidimo se :)</h5>

        </div>
        <div class="col-lg-3 col-md-6 mb-4">
            <h5 class="mb-1" style="letter-spacing: 3px; color: #818963;">Radno vrijeme:</h5>
            <table class="table" style="color: #4f4f4f; border-color: #666;">
                <tbody>
                    <tr>
                        <td>Pon - Pet</td>
                        <td>09:00 - 17:00</td>
                    </tr>
                    <tr>
                        <td>Vikend</td>
                        <td>Zatvoreno</td>
                    </tr>
                </tbody>
            </table>
        </div>
      </div>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>

  </footer>


</html>